* {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 130px;
  padding-bottom: 194px;
}
.icon {
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  margin-bottom: 15px;
}
.anchor {
  background-image: url(img/anchor.png);
}
.wrapper:hover .anchor {
  background-image: url(img/anchor_white.png);
}
.wrapper:hover .diamond {
  background-image: url(img/diamond_white.png);
}
.wrapper:hover .glasses {
  background-image: url(img/glasses_white.png);
}
.wrapper:hover .monitor {
  background-image: url(img/monitor_white.png);
}
.diamond {
  background-image: url(img/diamond.png);
}
.glasses {
  background-image: url(img/glasses.png);
}
.monitor {
  background-image: url(img/monitor.png);
}
.wrapper:hover {
  background-color: #0ec8cb;
  color: #ffffff;
}
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}
h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #898f99;
  margin-bottom: 20px;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #0ec8cb;
  margin-bottom: 30px;
}
.header_info {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #999999;
}
main {
  width: 960px;
  margin: 0 auto;
}
.wrapper {
  width: 24%;
  display: inline-block;
  background: #f7f7f7;
  border: 1px solid #ececec;
}
header {
  margin-bottom: 90px;
}
main {
  font-size: 0;
}
h2 {
  font-size: 21px;
}
.wrapper p {
  font-size: 14px;
}
